<div>
	<div class="budget-name">
		<%= @budget.name %>
	</div>

	<div>
		<code>CSV uploads maybe here? How will we handle compiling uploads?</code>
	</div>

	<div>
		<code>Graphs can go here?</code>
	</div>

	<span>
		<%= button_to 'Edit', edit_budget_path, method: :get, class: "edit-btn" %>
		<%= button_to 'Back', budgets_path, method: :get, class: "back-btn" %>
	</span>
</div>
